header#main-header{
    height: 60px;
    background: lightblue;
    width: 100%;
    font-weight: bold;
    font-size: 18px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}